  <form [formGroup]="myForm">
  <!-- <ion-input type="date" formControlName="dob"></ion-input> -->
  <label>Date Of Birth:</label>
  <sysmo-dob formControlName="dob" 
  [customClassInput]="{'error-border':myForm.get('dob')?.errors?.['required'] && myForm.get('dob')?.touched}"
  [ageText]="'the customer age is:'"
  [customStyleText]="{color:'green'}"
  >
  </sysmo-dob>
  <div *ngIf="myForm.get('dob')?.errors?.['required'] && myForm.get('dob')?.touched">
    <small style="color:red">Please Enter the Correct DOB</small>
  </div>
</form>
<p>{{myForm.value|json}}</p>

  
